body{
    background-color: #191d2d;
}
.container{
    text-align: center;
    height: 90%;
    position: relative;
}

h6{
    position: relative;
    font-size: 7vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}
h6::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: auto;
    width: auto;
    /* width: 39.2%; */
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 39.2%;
    }
}
@media screen and (max-width: 600px) {
    h6::before{
        width: 40%;
    }
    @keyframes animate{
        0%,10%,100%{
            width: 0;
        }
        70%,90%{
            width: 40%;
        }
    }
}